*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: beige;
}

a{
    margin: 10px;
}


h1{
    font-weight: bold;
    margin: 20px;
    color:  black;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
    font-size: 33px;
    text-align: center;
    padding: 40px;
    margin: 5px;
    border: solid 0px ;
}

h3{
    margin: 15px;
    text-align: center;
}



ol{
    margin: 5px 15em 5px 22em;
    padding: 10px;
}

ul{
    text-align: center;
    list-style: none;


}



.card-links-main{
    width: 650px;
    height: 250px;
    background-color: #887673;
    border: solid 5px #310b0a;
    margin: 100px auto;
    box-shadow: 0px 10px 20px 15px #887673;
}

.text-links-main{
    font-size: 20px;
    width: 600px;
    height: 300px;
    list-style: none;
    padding: 20px;
    margin: 50px auto;
    
    

}

.links-main{
    display: flex ;
    padding: 20px;
    border: solid 2px;
    margin: -40px auto;
    background-color: #f3eae8;
}


.container-pratos{
    width: 800px;
    height: auto;
    display: flex;
    border: solid 35px #310b0a;
    margin: 20px auto;
    background-color: #310b0a;
    box-shadow: 0px 10px 20px 15px #887673;


}


.container-passos-in{
    border: 2px solid;
    width: 55em;
    font-size: 22px;
    margin: 20px 20px 35px 75px;
    padding: 20px;
    background-color: #f3eae8 ;
    box-shadow: 0px 10px 20px 15px #f4aa9d;
}

.home-button{
    border: solid 2px black;
    width: 80px;
    margin: 15px 20px 20px 30px;
    display: inline-block;
    padding: 15px 20px;
}