*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: beige;
}


h1{
    font-weight: bold;
    margin: 20px;
    color:  black;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

h2,h3{
    text-decoration: underline;
    font-size: 33px;
    text-align: center;
}


a{
    color: #310b0a;
    margin: 10px;
}


.card-links-main{
    width: 650px;
    height: 250px;
    background-color: #887673;
    border: solid 5px #310b0a;
    margin: 100px auto;
    box-shadow: 0px 10px 20px 15px #887673;
}

.text-links-main{
    font-size: 20px;
    width: 600px;
    height: 300px;
    list-style: none;
    padding: 20px;
    margin: 50px auto;
    
    

}

.links-main{
    display: flex ;
    padding: 20px;
    border: solid 2px;
    margin: -40px auto;
    background-color: #f3eae8;
}


.container-pratos{
    width: 800px;
    background-color: orange;
    text-align: center;
    display: block;
    margin: auto;
    border: 5px solid burlywood;
}

#titulo-lasanha{
    color: orange;
}

.container-passos-in{
    border: 2px solid;
    width: 310px;
    font-size: 22px;
    display: block;
    margin: auto;
}

.home-button{
    font-size: 33px;
}